@page
@model IdentityService.Pages.Account.Register.Index

<div>
	<partial name="_ValidationSummary" />

    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h2>Local Account</h2>
            </div>

            <div class="card-body">
                <p>forms goes here</p>

            </div>
        </div>
    </div>
</div>
